/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs{
padding: 3px 0;
margin-left: 20px;
margin-top: 1px;
margin-bottom: 5px;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/

}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
	background: url(../images/tab_inactive.png) repeat-x #484848;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #f4f4f4;
  display: inline;
  font-size: 11px;
  margin-left: 3px;
  margin-top: 7px;
  padding: 8px 20px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #282828;

}


.shadetabs li a:hover{
background: #e1e1e1;
color: #282828;
text-shadow: 0 1px 0 #fff;
}

.shadetabs li a.selected{ /*selected main tab style */
position: relative;
top: 1px;

}

.shadetabs li a.selected{ /*selected main tab style */
background: #e1e1e1;
color: #282828;
text-shadow: 0 1px 0 #fff;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}


